#email {

	.left {
		position: absolute;
		top: 60%;
		width: 49%;
		text-align: right;
		background-color: transparent;
		outline: 0px solid transparent;
		border: none;
	}

	.right {
		position: absolute;
		top: 60%;
		left: 50%;
	}
}