@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
	background: #61045F; /* fallback for old browsers */
	/*background: linear-gradient(to left, #DC1165 , #61045F);*/
	color: #F5F5F5;
	font-family: 'Pacifico', cursive;
	font-size: 40pt;
}